@import url('https://fonts.googleapis.com/css2?family=WindSong:wght@400;500&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body{
  background-color: hsla( 45,50%,95.29% ,1);
}

@font-face {
  font-family: 'E';
  src: url('https://static1.squarespace.com/static/6622248883bd0f6e96ce735b/t/6622249683bd0f6e96ce74a6/1709904740007/Editor%27sNote-Extralight.otf')
}

@font-face {
  font-family: 'EH';
  src: url('https://static1.squarespace.com/static/6622248883bd0f6e96ce735b/t/6622249683bd0f6e96ce74a4/1709904739966/Editor%27sNote-Hairline.otf')
}

@font-face {
  font-family: 'EL';
  src: url('https://static1.squarespace.com/static/6622248883bd0f6e96ce735b/t/6622249683bd0f6e96ce74a8/1709904740045/Editor%27sNote-Light.woff')
}


h1 {
  font-family: 'E' !important;
  text-transform: uppercase !important;
  font-size: 107.77px;
  font-weight: 300  ;
}

h1 strong {
  font-family: "WindSong", cursive;
  font-optical-sizing: auto;
  text-transform: none !important;
  font-weight: 100 !important;
  font-size: 107.77px;
}

h2 {
  font-family: 'EH';
  font-size: 75.65px;
  color: hsla( 113.68,13.67%,27.25% ,1);
  font-weight: 400;
  letter-spacing: 0em;
}

h2 strong {
  font-family: "WindSong", cursive;
  font-optical-sizing: auto;
  text-transform: none !important;
  font-weight: 100 !important;
  font-size: 75.65px;
  
}

h3 {
  font-family: 'EH';
  line-height: 1em;
  font-size: 34.35px;
  font-weight: 400;
}

h4 {
  margin-top: -40px;
  font-size: 94px;
  font-family: "WindSong", cursive;
  font-optical-sizing: auto;
  font-weight: 200;
}

p{
  font-weight: 300 !important;
}

.header{
  width: 100%;
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  padding: 30px 70px;
  pointer-events: auto;
  
}

.header .menu i{
  display: none;
  position: absolute;
  top: 30px;
  right:30px;
  cursor: pointer;
  font-size: 30px;
  color: hsla( 45,50%,95.29% ,1);
}

.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-pages{
  display: inline-flex;
  flex-wrap: wrap;
  list-style: none;
  height: 45.75px;
}


.menu-pages li a:hover{
  color: hsla( 45,50%,95.29% ,1);
}

ul:hover li a:not(:hover){
  color: rgba(249, 246, 237, 0.702);
}


.menu-pages li{
  margin-left: 1.6vw;
  margin-right: 1.6vw;
  
}
.menu-pages li a {
  text-decoration: none;
  backface-visibility: hidden;
  padding: .1em 0;
  font-family: 'E';
  cursor: pointer;
  font-size: 22.88px;
  color: hsla( 45,50%,95.29% ,1);
  font-style: normal;
  font-weight: 400;
  text-transform: none;
  letter-spacing: .03em;
  line-height: 1.8em;
  
}

.menu img{
  width: auto;
  max-width: 100%;
  max-height: 100px;
  
}

.menu button{
  padding: 20.8px 35.2px;
  border: 1px solid  hsla( 45,50%,95.29% ,1);
  background-color: transparent;
  border-radius: 50%;
  color: hsla( 45,50%,95.29% ,1);
  font-size: 16px ;
  font-family: 'E';
  cursor: pointer;
}

.menu button:hover{
  border: 1px solid  hsla( 45,50%,95.29% ,1);
  background-color: hsla( 45,50%,95.29% ,1);
  color: hsla( 113.68,13.67%,27.25% ,1);
}


.cover{
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  color: hsla( 45,50%,95.29% ,1); 
  align-items: center;
  justify-content: center;
}


.cover .titles{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-container{
  width: 100%;
  height: 110vh;
  position: absolute;
  top: 0;
  
}

.img-container img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: 33.198949934370894% 75.20470029376835%;
  filter: brightness(0.8);
}

section{
  position: relative;
}

button a {
  text-decoration: none;
  color: inherit; /* Hereda el color del botón */
  font-family: inherit; /* Hereda la fuente del botón */
  font-size: inherit; /* Hereda el tamaño de fuente del botón */
}

/* OUR STORY  */

.our-story-section{
  padding: 126.192px 15px 126.192px 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  min-height: 90vh;
  
}

.our-story-summary{
  display: flex;
  flex-direction: column;
  gap: 150px;
  width: 40%;
}

.our-story1, .our-story1-media{
  max-height: 867px;
  width: 30%;
}

.our-story1 img, .our-story1-media img{
  max-height: 867px;
  /* width: 100%; */
}
.our-story2{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
  width: 15%;
}

.our-story2 img{
  width: 100%;
}

.our-story1-media{
  display: none;
}

.our-story-section .our-story-summary button{
  padding: 20.8px 35.2px;
  border: 1px solid  hsla( 113.68,13.67%,27.25% ,1);
  background-color: transparent;
  border-radius: 50%;
  color: hsla( 113.68,13.67%,27.25% ,1);
  font-size: 20.58px ;
  font-family: 'E';
  width: 211px;
  cursor: pointer;
  height: 81.5px;
}

.our-story-section .our-story-summary button:hover{
  border: 1px solid  hsla( 113.68,13.67%,27.25% ,1);
  background-color: hsla( 113.68,13.67%,27.25% ,1);
  color: hsla( 45,50%,95.29% ,1);
}

.our-story-section .our-story-summary p{
  max-width: 450px;
  font-family: 'Lato';
  font-size: 18.29px;
  color: hsla( 113.68,13.67%,27.25% ,1);
  line-height: 2;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/* Confirm presence */

.confirm-section{
  padding: 126.192px  126.192px 126.192px 250px;
  display: flex;
  gap: 200px;
  width: 100%;
  min-height: 90vh;
}

.confirm-section div{
  width: 55%;
  max-width: 647px;
}

.confirm-section img{
  width: 45%;
  max-width: 578px;
  max-height: 818px;
}

.confirm-section div p{
  width: 100%;
  font-family: 'Lato';
  font-size: 18.29px;
  color: hsla( 113.68,13.67%,27.25% ,1);
  line-height: 2;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 400;
}
.confirm-section div button{
  padding: 20.8px 35.2px;
  border: 1px solid  hsla( 113.68,13.67%,27.25% ,1);
  background-color: transparent;
  border-radius: 50%;
  color: hsla( 113.68,13.67%,27.25% ,1);
  font-size: 20.58px ;
  font-family: 'E';
  width: 300px;
  cursor: pointer;
  height: 81.5px;
}

.confirm-section button:hover{
  border: 1px solid  hsla( 113.68,13.67%,27.25% ,1);
  background-color: hsla( 113.68,13.67%,27.25% ,1);
  color: hsla( 45,50%,95.29% ,1);
}


/* SCHEDULE  */


.schedule-section{
  padding: 126.192px 0px 126.192px 70px;
  display: flex;
  background-color: hsla( 113.68,13.67%,27.25% ,1);
  color: hsla( 45,50%,95.29% ,1);
  min-height: 90vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.schedule-section h2{
  color: hsla( 45,50%,95.29% ,1);
}

.schedule-activities{
  display: flex;
  gap: 50px;
  margin-top: 100px;
  width: 100%;
}

.schedule-activities div{
  width: calc(100%/3);
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.schedule-activities div img{
  width: 87px;
  height: 86px;
} 
.schedule-section button{
  padding: 20.8px 35.2px;
  border: 1px solid  hsla( 45,50%,95.29% ,1);
  background-color: transparent;
  border-radius: 50%;
  color: hsla( 45,50%,95.29% ,1);
  font-size: 20.58px ;
  font-family: 'E';
  width: 137px;
  cursor: pointer;
  height: 81.5px;
  margin-top: 60px;
}

.schedule-section button:hover{
  border: 1px solid  hsla( 45,50%,95.29% ,1);
  background-color: hsla( 45,50%,95.29% ,1);
  color: hsla( 113.68,13.67%,27.25% ,1);
}

.schedule-activities div p{
  display: flex;
  width: 100%;
  font-family: 'Lato';
  font-size: 18.29px;
  color: hsla( 45,50%,95.29% ,1);
  line-height: 2;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 400;
  justify-content:center;
}

/* INFO SECTION */

.info-section{
  padding: 126.192px 10px 126.192px 250px;
  display: flex;
  min-height: 100vh;
  width: 100%;
  gap: 250px;
}
.info-section img{
  width: 45%;
  max-width: 578px;
  max-height: 818px;
}

.info-section-tips{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 120px;
  width: 55%;
  max-width: 647px;
}

.info-section-tips div a{
  color: hsla( 113.68,13.67%,27.25% ,1);
}

.info-section-tips div p {
  display: flex;
  width: 100%;
  font-family: 'Lato';
  font-size: 18.29px;
  color: hsla( 113.68,13.67%,27.25% ,1);
  line-height: 2;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 400;
  justify-content:center;
}

/* CONTDOWN */

.countdown-section{
  padding: 126.192px 0px 126.192px 0px;
  display: flex;
  min-height: 90vh;
  width: 100%;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: hsla( 113.68,13.67%,27.25% ,1);
  
}

.countdown-section div h2{
  color: hsla( 45,50%,95.29% ,1);
  position: relative;
  z-index: 2;
}

.countdown-section div span{
  position: relative;
  padding:50px;
  font-size: 80px;
  color: hsla( 45,50%,95.29% ,1);
  z-index: 2111;
}

.countdown-section img{
  position: absolute;
  bottom: 0;
  object-fit: cover;
  width: 100%;
  z-index: 0;
}

footer{
  height: 87px;
  width: 100%;
  background-color: hsla( 0,0%,7.06% ,1);
}


/* OUR STORY PAGE */

.our-story-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.our-story-page{
  padding: 126.192px ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.our-story-page h4{
  font-weight: 400;
}

.story-container{
  display: flex;
  margin-top: 60px;
  width: 60%;
  gap: 30px;
}

.story-container div{
  width: 50%;
}
.story-container div p{
  display: flex;
  width: 100%;
  font-family: 'Lato';
  font-size: 18.29px;
  color: hsla( 113.68,13.67%,27.25% ,1);
  line-height: 2;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 400;
  justify-content:center;
}

.our-story-image{
  display: flex;
  padding: 126.192px ;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.our-story-image div{
  width: 60%;
  height: 1000px;
}

.our-story-image div img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  object-position: 12.549351381838692% 44.002750171885744%;
}

.our-story-titles{
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

.our-story-titles h2{
  color: hsla( 45,50%,95.29% ,1);
  
}

.our-story-titles h4{
  color: hsla( 45,50%,95.29% ,1);
  font-weight: 400;
}

/* TRAVEL AND STAY  */


.travel-section1{
  padding: 100px  100px 100px 250px;
  display: flex;
  gap: 200px;
  width: 100%;
  min-height: 100vh;
}

.travel-section1 div{
  width: 50%;
  padding-top: 70px;
}

.travel-section1 div div{
  width: 100%
}

.travel-section1 img{
  width: 50%;
  max-height: 818px;
}

.travel-section1 div p{
  display: flex;
  width: 100%;
  font-family: 'Lato';
  font-size: 18.29px;
  color: hsla( 113.68,13.67%,27.25% ,1);
  line-height: 2;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 400;
  justify-content:center;
}

.travel-section1 div h2{
  margin-bottom: 32px;
  width: 100%;
}

.travel-section1 div h3{
  margin: 18px 0px;
}






/* RSVP */


.rsvp-cover{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: black;
}

.rsvp-cover img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(0.5) sepia(100%);
  position: relative;
}


.cover-data{
  position: relative;
  display: flex;
  padding: 80px 0px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.cover-data h1{
  color: hsla( 45,50%,95.29% ,1);
  font-size: 107px;
  font-weight: 400;
}

.cover-data p{
 width: 726px;
 display: flex;
 font-family: 'Lato';
 font-size: 18.29px;
 color: hsla( 45,50%,95.29% ,1);
 line-height: 2;
 display: block;
 margin-block-start: 1em;
 margin-block-end: 1em;
 margin-inline-start: 0px;
 margin-inline-end: 0px;
 font-weight: 400;
 justify-content:center;
 text-align: center;
}




.rsvp-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

form{
  position: relative;
  background-color: #EAE1D2D6;
  width:100%;
  height: 965px;
  padding: 60.76px;
  
  margin: auto;
 
}

.form-cover{
  padding-bottom: 100px;
  width: 55%;
}

fieldset{
  border: none;
}

.fieldset{
  width: 100%;
  height: 141px;
}

fieldset legend{
  display: flex;
  gap: 5px;
}

.field-inputs{
  display: flex;
  width: 100%;
  gap: 10px;
}

.field-inputs div{
  display: flex;
  flex-direction: column;
  width: 50%;
}

legend{
  margin: 25px 0px 25px 0px;
  color: #121212;
}

form input[type=text]{
  padding: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid hsla( 113.68,13.67%,27.25% ,1);
  width: 100%;
  margin-bottom: 25px;
}

.field-attending{
  display: flex;
  margin-bottom: 30px;
  gap: 10px;
}

.button-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

form button{
  padding: 20.8px 35.2px;
  border: 1px solid  hsla( 113.68,13.67%,27.25% ,1);
  background-color: transparent;
  border-radius: 50%;
  color: hsla( 113.68,13.67%,27.25% ,1);
  font-size: 20.58px ;
  font-family: 'E';
  width: 131px;
  cursor: pointer;
  height: 81.5px;
  margin-top: 20px;
}

form button{
  color: hsla( 0,0%,7.06% ,1);
  border: 1px solid  hsla( 0,0%,7.06% ,1);
  cursor: pointer;
}



form button:hover{
  border: 1px solid  hsla( 113.68,13.67%,27.25% ,1);
  background-color: hsla( 113.68,13.67%,27.25% ,1);
  color: hsla( 45,50%,95.29% ,1);
}

footer{
  position: relative;
}

.header-media{
  padding: 20px;
  /* display: none; */
  position: relative;
  height: 100vh;
  background-image: url(/assets/travel-cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.header-media .menu{
  display: flex;
  flex-direction: column;
  gap: 100px;
  height: 100%;
  width: 100%;
}

.menu-pages-media{
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style: none;
}


.menu-pages-media li a:hover{
  color: hsla( 45,50%,95.29% ,1);
}

.menu-pages-media:hover li a:not(:hover){
  color: rgba(249, 246, 237, 0.702);
}


.menu-pages-media li{
  margin-left: 1.6vw;
  margin-right: 1.6vw;
  
}
.menu-pages-media li a {
  text-decoration: none;
  backface-visibility: hidden;
  padding: .1em 0;
  font-family: 'E';
  cursor: pointer;
  font-size: 31.85px;
  color: hsla( 45,50%,95.29% ,1);
  font-style: normal;
  
  text-transform: none;
  letter-spacing: .03em;
  line-height: 1.8em;
  
}

.menu img{
  width: auto;
  width: 100%;
  max-height: 100px;
  
}

.menu button{
  padding: 20.8px 35.2px;
  border: 1px solid  hsla( 45,50%,95.29% ,1);
  background-color: transparent;
  border-radius: 50%;
  color: hsla( 45,50%,95.29% ,1);
  font-size: 16px ;
  font-family: 'E';
  cursor: pointer;
}

.menu button:hover{
  border: 1px solid  hsla( 45,50%,95.29% ,1);
  background-color: hsla( 45,50%,95.29% ,1);
  color: hsla( 113.68,13.67%,27.25% ,1);
}

.header-media nav{
  width: 100%;
  height: 100%;
}
.header-media .menu i {
  position: absolute;
  top: 40px;
  right: 45px;
  cursor: pointer;
  font-size: 30px;
  color: hsla( 45,50%,95.29% ,1);
  font-weight: 300;
}


.header .menu i{
  position: absolute;
  top: 35px;
  right: 35px;
}

@media (max-width: 1425px) {
  .travel-section1{
    padding-left: 150px;
    gap: 100px;
  }
  .story-container{
      width: 80%;
      gap: 30px;
  }

  .our-story-image div{
      width: 80%;
  }

  .info-section{
      padding: 126.192px 10px 126.192px 150px;
      display: flex;
      min-height: 100vh;
      width: 100%;
      gap: 100px;
  }

  .our-story-summary{
      gap: 80px;
  }

  .our-story-summary h2{
      font-size: 50px;
  }
}

@media (max-width: 1025px) {
  .form-cover{
      position: relative;
      width:80%;
  }
  

  .travel-section1{
      flex-direction: column;
      align-items: center;
      gap: 50px;
      
  }

  .travel-section1 img{
      width:70%;
  }

  .travel-section1 div{
      width:100%;
      padding-top: 5px;
  }
  .travel-section1{
      padding: 100px;
  }

  .travel-section{
      flex-direction: column-reverse;
  }

  .story-container{
      flex-direction: column;
      gap: 30px;
  }
  .story-container div{
      width: 100%;
  }

  .our-story-image div{
      width: 80%;
  }

  .our-story-titles h2{
      font-size: 50px;
  }

  .our-story-titles h4{
      font-size: 40px;
      margin-top: 10px;
  }

  .info-section, .confirm-section{
     flex-direction: column;
     padding: 126.192px 50px 126.192px 50px;
     align-items: center;
  }
  .info-section img,.confirm-section img {
      width: 100%;
  }

  .info-section .info-section-tips, .confirm-section div{
      width: 100%;
  }

  .our-story-section{
      align-items: center;
      gap: 150px;
      flex-direction: column;
  }

  .our-story1-media{
    display: flex;
  }

  .our-story1{
    display: none;
  }

  .our-story-section div{
      width: 60%;
  }

  .our-story2 img, .our-story1-media img{
    height: 100%;
  }
  .our-story-summary{
    width: 100%;
  }
  .titles h1{
      font-size: 50px;
  }

  .titles h4{
      font-size: 40px;
      margin-top: 5px;
  }

  .countdown-section-title h2{
      font-size: 50px;
      text-align: center;
  }
  .header{
    padding-top: 1.4vw;
    padding-bottom: 1.4vw;
    padding-left: 4vw;
    padding-right: 4vw;
  }

}



@media (max-width: 725px) {

  .img-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: 12.198949934370894% 96.20470029376835%;
    filter: brightness(0.8);
  }
  .rsvp-cover{
      width: 100%;
      position: absolute;
      top: 0;
  }

  .cover-data h1 {
      font-size: 87px;
      text-align: center;
  }

  .cover-registry h1 , .titles h1{
      font-size: 50px;
      text-align: center;
  }
  
  .cover-data p , .cover-registry p{
     width: 90%;
     font-family: 'Lato';
     font-size: 18.29px;
  }

  .form-cover{
      width:90%;
      
  }
  
  .header .menu-pages, .header button{
      display: none;
  }
 

  .header .menu{
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      padding-top: 10px;
  }

  .header .menu img{
    margin: auto;
  }

 .our-story-page h4{
      font-size: 40px;
      margin-top: 20px;
  }
  .travel-section1{
      padding: 50px;
  }
  .travel-section1 div{
      width:90%;
  }

  .travel-section1 img{
      width:90%;
  }

  .story-container{
      flex-direction: column;
      width: 100%;
  }

  .story-container div{
      width: 100%;
  }
  .our-story-image div{
      width: 90%;
      height: 500px;
      min-width: 300px;
  }
  
  .our-story-page , .our-story-image{
      padding: 60px;
      
  }
  .schedule-section, .our-story-section{
      padding: 50px;
  }

  .schedule-activities{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
  }

  .schedule-activities div{
      width: 100%;
      padding: 15px;
  }

  .our-story-section div{
      width: 100%;
  }

  .our-story-titles h2{
    font-size: 38px;
  }

  .info-section{
    flex-direction: column-reverse;
  }

}


@media (max-width: 500px) {

.rsvp-container{
  height: 100%;
}

.rsvp-cover{
  height: 100%;
}
  .rsvp-form{
    height: 865px;
  }

form{
  padding: 25px;
}

form button{
  padding: 15.8px 25.2px;
  font-size: 15.58px ;
  height: 50.5px;
  margin-top: 5px;
}

.travel-section1 {
  padding: 10px;
  margin-bottom: 50px;
 }

.travel-section1 div h2{
 font-size: 50px;
}
.travel-section1 div h2 strong{
  font-size: 50px;
 }

 .travel-section1 div h3{
  font-size: 30px;
 }

 .travel-section1 div p{
  font-size: 15px;
 }

 .travel-section1 div ul{
  padding-left: 25px;
 }

 .our-story-container div p{
  font-size: 16px;
  font-weight: 100;
 }

 .our-story-summary h2,.confirm-section h2, .schedule-section h2 ,.info-section h2, .countdown-section-title h2{
  font-size: 37px;
 }

 .schedule-section h3{
  font-size: 22px;
 }

 .schedule-activities div p{
  font-size: 16px;
 }

 .confirm-section h4{
  margin-top: -20px;
  font-size: 56px;
 }
 .our-story-section, .confirm-section, .schedule-section, .info-section, .countdown-section, form{
  padding: 25px;
 }
 .confirm-section  img{
  height: 415px;
 }

 .info-section-tips, .info-section{
  padding-top: 30px;
 }

 .info-section h2 strong{
  font-size: 50px;
 }

 .countdown-section div span{
  font-size: 36px;
 }

}