@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
  font-family: 'E';
  src: url('https://static1.squarespace.com/static/6622248883bd0f6e96ce735b/t/6622249683bd0f6e96ce74a6/1709904740007/Editor%27sNote-Extralight.otf')
}

@font-face {
  font-family: 'EH';
  src: url('https://static1.squarespace.com/static/6622248883bd0f6e96ce735b/t/6622249683bd0f6e96ce74a4/1709904739966/Editor%27sNote-Hairline.otf')
}

@font-face {
  font-family: 'EL';
  src: url('https://static1.squarespace.com/static/6622248883bd0f6e96ce735b/t/6622249683bd0f6e96ce74a8/1709904740045/Editor%27sNote-Light.woff')
}


h1 {
  font-family: 'E' !important;
  text-transform: uppercase !important;
  font-size: 107.77px;
}

h1 strong {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  text-transform: none !important;
  font-weight: 100 !important;
  font-size: 107.77px;
}

h2 {
  font-family: 'EH';
  font-size: 75.65px;
  color: hsla( 113.68,13.67%,27.25% ,1);
  font-weight: 400;
  letter-spacing: 0em;
}

h2 strong {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  text-transform: none !important;
  font-weight: 100 !important;
  font-size: 75.65px;
  
}

h3 {
  font-family: 'EH';
  line-height: 1em;
  font-size: 34.35px;
  font-weight: 400;
}

h4 {
  margin-top: -40px;
  font-size: 94px;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
}

.header{
  width: 100%;
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  padding-top: 1.4vw;
  padding-bottom: 1.4vw;
  padding-left: 4vw;
  padding-right: 4vw;
  pointer-events: auto;
  
}

.header .menu i{
  display: none;
  position: absolute;
  top: 30px;
  right:30px;
  cursor: pointer;
  font-size: 30px;
  color: hsla( 45,50%,95.29% ,1);
}

.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-pages{
  display: inline-flex;
  flex-wrap: wrap;
  list-style: none;
  height: 45.75px;
}


.menu-pages li a:hover{
  color: hsla( 45,50%,95.29% ,1);
}

ul:hover li a:not(:hover){
  color: rgba(249, 246, 237, 0.702);
}


.menu-pages li{
  margin-left: 1.6vw;
  margin-right: 1.6vw;
  
}
.menu-pages li a {
  text-decoration: none;
  backface-visibility: hidden;
  padding: .1em 0;
  font-family: 'E';
  cursor: pointer;
  font-size: 22.88px;
  color: hsla( 45,50%,95.29% ,1);
  font-style: normal;
  font-weight: 400;
  text-transform: none;
  letter-spacing: .03em;
  line-height: 1.8em;
  
}

.menu img{
  width: auto;
  max-width: 100%;
  max-height: 100px;
  
}

.menu button{
  padding: 20.8px 35.2px;
  border: 1px solid  hsla( 45,50%,95.29% ,1);
  background-color: transparent;
  border-radius: 50%;
  color: hsla( 45,50%,95.29% ,1);
  font-size: 16px ;
  font-family: 'E';
  cursor: pointer;
}

.menu button:hover{
  border: 1px solid  hsla( 45,50%,95.29% ,1);
  background-color: hsla( 45,50%,95.29% ,1);
  color: hsla( 113.68,13.67%,27.25% ,1);
}


.cover{
  position: relative;
  display: flex;
  width: 100%;
  height: 110vh;
  color: hsla( 45,50%,95.29% ,1);
  align-items: center;
  justify-content: center;
}


.cover .titles{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-container{
  width: 100%;
  height: 110vh;
  position: absolute;
  top: 0;
  
}

.img-container img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: 33.198949934370894% 75.20470029376835%;
  filter: brightness(0.8);
}

section{
  position: relative;
}

button a {
  text-decoration: none;
  color: inherit; /* Hereda el color del botón */
  font-family: inherit; /* Hereda la fuente del botón */
  font-size: inherit; /* Hereda el tamaño de fuente del botón */
}



footer{
  height: 87px;
  width: 100%;
  background-color: hsla( 0,0%,7.06% ,1);
}




/* FAQS */


.faq-container{
 background-color: hsla( 113.68,13.67%,27.25% ,1);
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding-bottom: 500px;
 background-image: url(/assets/countdown-image.png);
 background-repeat: no-repeat; 
 background-position: bottom;
 background-size: contain;
 height: 100%;
 width: 100%;
}

.faq-container ul li{
  list-style: none;
  padding: 30px 0px;
  cursor: pointer;
}

.faq-container ul li hr{
  margin-top: 30px;
}

.faq-container ul{
  width: 50%;
  margin: auto;
}


.faq-titles{
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: hsla( 45,50%,95.29% ,1);
}

.faq-titles div h4, .faq-titles div h1{
  
  font-weight: 400;
}

.accordion {
  background-color: hsla( 113.68,13.67%,27.25% ,1);
  color: hsla( 45,50%,95.29% ,1);
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
}


.panel {
  display: none;
  overflow: hidden;
  font-family: 'Lato';
  font-size: 18.29px;
  color: hsla( 45,50%,95.29% ,1);
  line-height: 2;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 400;
  margin: 30px 0px;
}



footer{
  position: relative;
}

.header-media{
  padding: 50px;
  display: none;
  position: relative;
  height: 100vh;
  background-image: url(/assets/travel-cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.header-media .menu{
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 100%;
  width: 100%;
}

.menu-pages-media{
  display: flex;
  flex-direction: column;
  text-align: center;
  
  gap: 20px;
  list-style: none;
}


.menu-pages-media li a:hover{
  color: hsla( 45,50%,95.29% ,1);
}

.menu-pages-media:hover li a:not(:hover){
  color: rgba(249, 246, 237, 0.702);
}


.menu-pages-media li{
  margin-left: 1.6vw;
  margin-right: 1.6vw;
  
}
.menu-pages-media li a {
  text-decoration: none;
  backface-visibility: hidden;
  padding: .1em 0;
  font-family: 'E';
  cursor: pointer;
  font-size: 42.5px;
  color: hsla( 45,50%,95.29% ,1);
  font-style: normal;
  
  text-transform: none;
  letter-spacing: .03em;
  line-height: 1.8em;
  
}

.menu img{
  width: auto;
  width: 100%;
  max-height: 100px;
  
}

.menu button{
  padding: 20.8px 35.2px;
  border: 1px solid  hsla( 45,50%,95.29% ,1);
  background-color: transparent;
  border-radius: 50%;
  color: hsla( 45,50%,95.29% ,1);
  font-size: 16px ;
  font-family: 'E';
  cursor: pointer;
}

.menu button:hover{
  border: 1px solid  hsla( 45,50%,95.29% ,1);
  background-color: hsla( 45,50%,95.29% ,1);
  color: hsla( 113.68,13.67%,27.25% ,1);
}

.header-media nav{
  width: 100%;
}
.header-media .menu i{
  position: absolute;
  top: 90px;
  right: 55px;
  cursor: pointer;
  font-size: 30px;
  color: hsla( 45,50%,95.29% ,1);
}


@media (max-width: 1025px) {

  .faq-container ul{
      width: 70%;
  }

}



@media (max-width: 725px) {



  .header .menu-pages, .header button{
      display: none;
  }
 

  .header .menu{
      position: relative;
  }
  .faq-container ul{
      width: 90%;
  }
  .faq-container ul h3{
      font-size: 25px;
  }
  .faq-titles h4 , .titles h4, .our-story-page h4{
      font-size: 40px;
      margin-top: 20px;
  }
  
  .header .menu i{
    display: block;
  }
}


.header-faqs{
    background-color: hsla( 113.68,13.67%,27.25% ,1);
    position: relative;
  }

