

section{
  position: relative;
}

button a {
  text-decoration: none;
  color: inherit; /* Hereda el color del botón */
  font-family: inherit; /* Hereda la fuente del botón */
  font-size: inherit; /* Hereda el tamaño de fuente del botón */
}



footer{
  height: 87px;
  width: 100%;
  background-color: hsla( 0,0%,7.06% ,1);
}




/* FAQS */


.faq-container{
 background-color: hsla( 113.68,13.67%,27.25% ,1);
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding-bottom: 500px;
 background-image: url(/assets/countdown-image.png);
 background-repeat: no-repeat; 
 background-position: bottom;
 background-size: contain;
 height: 100%;
 width: 100%;
}

.faq-container ul li{
  list-style: none;
  padding: 30px 0px;
  cursor: pointer;
}

.faq-container ul li hr{
  margin-top: 30px;
}

.faq-container ul{
  width: 50%;
  margin: auto;
}


.faq-titles{
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: hsla( 45,50%,95.29% ,1);
}

.faq-titles div h4, .faq-titles div h1{
  
  font-weight: 400;
}

.accordion {
  background-color: hsla( 113.68,13.67%,27.25% ,1);
  color: hsla( 45,50%,95.29% ,1);
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
}


.panel {
  display: none;
  overflow: hidden;
  font-family: 'Lato';
  font-size: 18.29px;
  color: hsla( 45,50%,95.29% ,1);
  line-height: 2;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 400;
  margin: 30px 0px;
}



footer{
  position: relative;
}


@media (max-width: 1025px) {

  .faq-container ul{
      width: 70%;
  }

}



@media (max-width: 725px) {



  .header .menu-pages, .header button{
      display: none;
  }
 

  .header .menu{
      position: relative;
  }
  .faq-container ul{
      width: 90%;
  }
  .faq-container ul h3{
      font-size: 25px;
  }
  .faq-titles h4 , .titles h4, .our-story-page h4{
      font-size: 40px;
      margin-top: 20px;
  }
  
  .header .menu i{
    display: block;
  }
}


.header-faqs{
    background-color: hsla( 113.68,13.67%,27.25% ,1);
    position: relative;
  }

