

section{
  position: relative;
}

button a {
  text-decoration: none;
  color: inherit; /* Hereda el color del botón */
  font-family: inherit; /* Hereda la fuente del botón */
  font-size: inherit; /* Hereda el tamaño de fuente del botón */
}

footer{
  height: 87px;
  width: 100%;
  background-color: hsla( 0,0%,7.06% ,1);
}


/* REGISTRY */



.cover-registry{
  width: 100%;
  padding: 80px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cover-registry h1{
  color: hsla( 0,0%,7.06% ,1);
  font-size: 107px;
  font-weight: 400;
}

.cover-registry p{
 width: 726px;
 display: flex;
 font-family: 'Lato';
 font-size: 18.29px;
 color: hsla( 113.68,13.67%,27.25% ,1);
 line-height: 2;
 display: block;
 margin-block-start: 1em;
 margin-block-end: 1em;
 margin-inline-start: 0px;
 margin-inline-end: 0px;
 font-weight: 400;
 justify-content:center;
 text-align: center;
}




.registry-container{
  display: flex;
  width: 100%;
  height: 869px;
  
}



.left ,
.right , .center {
  width: calc(100%/3);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.registry-container div img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(0.8);
}

.left div ,
.right div, .center div{
  width: 290px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.registry-container h2{
  color: hsla( 45,50%,95.29% ,1);
}

.registry-container p{
  display: flex;
  font-family: 'Lato';
  font-size: 18.29px;
  color: hsla( 45,50%,95.29% ,1);
  line-height: 2;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 400;
}






footer{
  position: relative;
}



@media (max-width: 1025px) {

  .registry-container{
      flex-direction: column;
      width: 100%;
      height: 1440px;
  }
  .left ,
  .right , .center {
      width: 100%;
      height: calc(100% /3);
  }
}



@media (max-width: 725px) {
  .cover-data h1 {
      font-size: 87px;
      text-align: center;
  }

  .faq-titles h1,  .cover-registry h1 , .titles h1{
      font-size: 50px;
      text-align: center;
  }
  
  .cover-data p , .cover-registry p{
     width: 90%;
     font-family: 'Lato';
     font-size: 18.29px;
  }

  
  .header .menu-pages, .header button{
      display: none;
  }
 

  .header .menu{
      position: relative;
  }
  

  .registry-header .menu i{
    display: block;
    color: hsla( 0,0%,7.06% ,1) !important; 
}
}


.registry-header .menu-pages li a {
  color: hsla( 0,0%,7.06% ,1) ;
}

.registry-header .menu-pages li a:hover{
  color: hsla( 0,0%,7.06% ,1);
}

.registry-header ul:hover li a:not(:hover){
  color: rgba(18, 18, 18, 0.455);
}


.registry-header .menu button{
  color: hsla( 0,0%,7.06% ,1);
  border: 1px solid  hsla( 0,0%,7.06% ,1);
  cursor: pointer;
}





.registry-header .menu button:hover{
  border: 1px solid  hsla( 113.68,13.67%,27.25% ,1);
  background-color: hsla( 113.68,13.67%,27.25% ,1);
  color: hsla( 45,50%,95.29% ,1);
}

.registry-header .menu img{
  filter: invert(1);
}

@media (max-width: 725px) {

 
}